/* just some css to make an overlay cover all A-Frame */

#user-gesture-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(11, 18, 35, 0.9);
  z-index: 999999;
  cursor: pointer;
  color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.user-gesture-button {
  display: none;
  width: 80%;
  height: 80%;
  background-color: rgb(36, 120, 190);
  color: white;
  padding: 14px 20px;
  margin: 0px 10px 8px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Lexend', sans-serif;
}

.user-gesture-button:hover {
  background-color: rgb(18, 0, 92);
}

#loading-animation {
  display: block;
  width: 80%;
  height: 80%;
}

#user-gesture-overlay a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.welcome-text {
  width: 100%;
  margin-bottom: 3em;
}

.welcome-text h1, h2 {
  text-align: center;
  font-family: 'Lexend', sans-serif;
}

h1 {
  font-size: 4em;
}

.select-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
}

.select-buttons a {
  display: flex;
  justify-content: center;
}
